/*font-loading*/

@font-face {
    font-family: youblockhead;
    src: url(fonts/YouBlockhead.ttf);
}

@font-face {
    font-family: rubik;
    src: url(fonts/Rubik-VariableFont_wght.ttf);
}

@font-face {
    font-family: spc;
    src: url(fonts/winner-black.ttf);
}



/*formatage*/

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}



/*sticky header*/

header{
    position: sticky;
    background-color: rgb(30,30,30);
    top: 0;           
}


.header2{
    box-shadow: 0px -10px 50px rgb(230, 230, 230);
}

.footer2{
    box-shadow: 0px 10px 50px rgb(230, 230, 230);
}


/*flex*/

.bandeau {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 1%;
    justify-content: space-between;
}

.row {
    display: flex;
    box-sizing: border-box;
    justify-content: space-evenly;
    align-items: center;
}

footer {
    background-color: rgb(30,30,30);
    padding: 5%;
    display: flex;
    align-items:center;
    justify-content: space-between;
    height:200px;
}



.intro {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top:8%;
    margin-bottom: 4%;
    height: 682px;
}

.row2 {
    display: flex;
    box-sizing: border-box;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10%;
}


.right {
    display: flex;
    align-items: center;
}

.fwu {
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: end;
}



/*blocs*/


.reg {
    font-family: youblockhead;
    font-size: 30px;
    display: flex; 
    align-items:center ;


}

.reg2 {
    font-family: youblockhead;
    font-size: 35px;
    display: flex; 
    align-items:center ;
    padding: 10%;
    line-height: 50px;


}

.reg3 {
    font-family: youblockhead;
    font-size: 110px;
    display: flex; 
    text-align: center;
    padding: 10%;
    padding-left: 15%;
    padding-top: 18%;
    line-height: 50px;
    height: 700px;


}

.searchbar {
    background-color: rgb(50,50,50);
    padding-left: 1%;
    display: flex;
    padding-top: 0.3%;
    padding-bottom: 0.3%;
    border-radius: 20px;
    padding-right: 5%;
    margin-left: 10%;

}

.searchbar2 {
    background-color: rgb(230,230,230);
    display: flex;
    padding-top: 0.3%;
    padding-bottom: 0.3%;
    border-radius: 50px; 
    height: 600px;
    width: 100%;

}

.inputs {
    background-color: transparent;
    border:transparent;
    color: black;
    font-family: youblockhead;
    font-size: 30px;
    width: 100%;
    padding-top: 1%;
    text-align: center;
    padding-bottom: 400px;
}
    

.evo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(226, 213, 241);
    border-radius: 20px;
    width: 200px;
    height: 110px;
    margin-left: 3%;
}



.section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 2%;
}   

.cards {
    justify-content: center;   
    text-align: center;
    width: 204px;
}


.logotcg {
    display: flex;
    align-items: center;
    height: 60px;
}



/*texte*/

.link {
    color: transparent;
}

.link {
    color: transparent;
    margin-left: 5%;
}

.about {
    font-family: youblockhead;
    color: white;
    margin-left: 15%;
    width: 170px;
}

.contact {
    font-family: youblockhead;
    color: white;
    border :2px solid;
    border-radius: 7px;
    align-items: center;
    display: flex;
    width: 140px;
    height: 35px;
    justify-content: center;
    padding-top: 0.5%;
}

.seconnecter {
    font-family: youblockhead;
    justify-content:center;
    color: white;
    padding-top: 1%;
    /*background-color: rgb(40,170, 230);*/
    background-color: rgb(30, 30, 30);
    border:2px solid ;
    font-size: 100%;
    border-radius: 40px;
    width: 170px;
    height: 40px;
    align-items: center;
    display: flex;
}

.seconnectert {
    font-size: 100%;
}
.tcgit {
    width: 320px;
    font-family: youblockhead;
    font-size: 120px;
}

.tcgit {
    width: 320px;
    font-family: youblockhead;
    font-size: 120px;
}


.trd {
    font-family: youblockhead;
    font-size: 45px;
    color: rgb(30, 30, 30);
    margin-top: 0.3%;
}



.cartes {
    font-family: youblockhead   ;
    font-size: 20px;
    cursor: pointer;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tcg {
    font-family: rubik;
    color: white;
    font-size: 30px;
    margin-left: 20%;
    font-weight: 600;
}

.follow {
    font-family: youblockhead;
    color: white;
    font-size:20px;
    margin-right: 1%;
}

.white{
    color: white;
}

.gray{
    background-color: rgb(50,50,55);
}


.whiteborder{
    color: white;
    box-shadow: 0px 0px 30px -10px  rgb(230, 230, 230);
}


.whitebordercard{
    color: white;
    box-shadow: -10px -10px 30px  rgb(230, 230, 230);
}



.body2{
    background-color: rgb(30, 30, 30);
    transition: 0.4s;
}

.body{
    transition: 0.4s;

}

/*images*/

.logo {
}

.logo2 {
}



.graph {
    vertical-align: bottom;
    height: 100px;
    margin-right: 20px;
}

.searchicon {
    width: 30px;
    margin-right: 5%;

}
.evoicon {
vertical-align: bottom;
}

.img1 {
    height:300px ;      
}

.tcgcopie {
    height:300px ;
}

.back{
    border-radius: 40px;
    justify-content: center;
    transition: 0.4s;
}

.bigc{
    size: 5000px;
}


.logo3 {
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: 0.4s;
}


.logo3.open {
    margin-left: 100%;
    transition: 0.4s;
}

.logo2 {
    height: 60px;
}

.yt {
    height: 30px;
}

.x {
    height: 30px;
}
.ig {
    height: 30px;
}

.fc {
    height: 30px;
}

.darklight{
    height: 20px;
    margin-right: 5px;

}


/*hover*/

.seconnecter:hover {
    cursor:pointer;
}

.contact:hover {
    cursor:pointer;  
}

.about:hover {
    cursor:pointer;
}

trend:hover {
    cursor:pointer;
}

tcgit:hover {
    cursor:pointer;
}

follow:hover {
    cursor:pointer;
}

tcg:hover {
    cursor:pointer;
}

#section3 {
    scroll-margin-top: 235px;

}

.return {
    display: flex; 
    align-items: center;
    justify-content: center;
    background-color: rgb(240, 240, 240);
    border-radius: 60px;
    width: 110px;
    height: 110px;
    position: fixed;
    top: 940px;
    left:960px;
    scroll-behavior: smooth;
}

.returnicon {
   height: 50px;
   transform: rotate(270deg);

}



@media screen and (max-width: 800px) {
.back {
width: 100px;
}
}



.red{
    color:red;
    background-color: gray;
    cursor: pointer;

}


.rotation{
    transform: rotate(90deg);
    transition:0.4s;
    
}



.burger {
    display: block;
    margin-bottom: 30%;
    font-family: youblockhead;
    text-decoration: none;
    color: white    ;
    width: 60%;
    height: 1.5%;
    margin-left: 20%;
    padding-top: 3%;
    border-radius: 40px;


}


.menuburger { 
    position: fixed;
    top: 79px;
    left: 0;
    background-color: rgb(30,30,30);
    width: 200px;
    height: 2000px;
    text-align: center;
    padding-top: 2%;
    opacity: 0;
    transform: translateX(-20px);
    pointer-events: none; 
    transition: opacity 0.4s ease, transform 0.4s ease;
}

.menuburger.show { 
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto; 
}


.burger:hover{
    background-color: rgb(40, 40, 40);

}
